{% extends 'base.html' %}
{% block title %}{{ block.title }}{% endblock %}

{% block content %}
  <div class="block-detail">
    <h1>{{ block.title }}</h1>
    {% if block.image %}
      <img src="{{ url_for('static', filename='uploads/' ~ block.image) }}" alt="{{ block.title }}" style="display:block;margin:0 auto 1.5em auto;max-width:350px;float:none;">
    {% endif %}
    <div>{{ block.content|safe }}</div>
    {% if block.slug == 'payment' %}
      <a href="{{ url_for('main.payment') }}" class="btn btn-success">Перейти до оплати</a>
    {% endif %}
  </div>
{% endblock %}
