{% extends 'base.html' %}
{% block title %}Контакти{% endblock %}

{% block content %}
<div class="page-content">
  <h1>Контакти</h1>
  <p>
    <strong>Телефон (Telegram):</strong> <a href="tel:+380684331822">+380 68 433 18 22</a><br>
    <strong>WhatsApp (DE):</strong> <a href="tel:+4915155774964">+49 1515 5774964</a><br>
    <strong>e-mail:</strong> <a href="mailto:maryam-studio@ukr.net">maryam-studio@ukr.net</a><br>
    <strong>Instagram:</strong> <a href="https://instagram.com/maryamdovganiuk" target="_blank">@maryamdovganiuk</a>
  </p>

</div>
{% endblock %}
