{% extends 'base.html' %}
{% block title %}Impressum{% endblock %}

{% block content %}
<div class="page-content">
  <h1>Impressum</h1>
  <h2>Kontaktdaten</h2>
  <p>
    <strong>Name:</strong> Марія Довганюк (Maryam Dovhaniuk)<br>
    <strong>e-mail:</strong> <a href="mailto:maryam-studio@ukr.net">maryam-studio@ukr.net</a><br>
    <strong>Telefon (DE):</strong> <a href="tel:+4915155774964">+49 1515 5774964</a><br>
    <strong>Instagram:</strong> <a href="https://instagram.com/maryamdovganiuk" target="_blank">@maryamdovganiuk</a>
  </p>
  <h2>Über mich</h2>
  <ul style="display:inline-block; text-align:left; margin: 0 auto;">
    <li>Gründerin des ukrainischen Familienzentrums "BlagoDim" 2014-2021</li>
    <li>Frauentrainerin, Meditationspraktikerin</li>
    <li>Zertifizierte Spezialistin für Feng Shui und östliche Astrologie "Bazi"</li>
    <li>Autorin zahlreicher Trainings und Workshops in 12 Städten der Ukraine</li>
    <li>Autorin des astrologischen Kalenders für Frauen</li>
    <li>Expertin bei den Kanälen "1+1" und "Novyj Kanal"</li>
    <li>Mitautorin und Psychologin des Projekts für Ukrainer bei Radio Rüsselsheim in Deutschland</li>
    <li>Freiwillige (Volunteer)</li>
    <li>Rekreologin</li>
    <li>Magister der Psychologie mit anerkanntem Diplom in Deutschland</li>
    <li>Diplomierte Journalistin und Radio/TV-Moderatorin</li>
    <li>Ehefrau, Tochter und Mutter von 2 Kindern (16 und 12 Jahre)</li>
  </ul>
</div>
{% endblock %}
